body {
    height: 400px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.institutoisaf.es%2Fclasificacion-de-los-deportes&psig=AOvVaw0DYG-jAx7GSO0J2ZWaTtU6&ust=1652305071645000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKiwlpvy1fcCFQAAAAAdAAAAABAD"); background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
